# Binary directory
bin/*

# Temporary files
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Stuff that isn't ready for the internet
/home/philipp/fuerte_workspace/Seminarkurs/classifiers/training_door/*

